@model IEnumerable<BTL_QLKTX.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PersonName }) |
                @Html.ActionLink("Details", "Details", new { id = item.PersonName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PersonName })
            </td>
        </tr>
    }

</table>